html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #d9eff9, #f9d9e3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 1rem 0;
}

h1 {
    margin: 0 0 2rem 0;
}

h2 {
    margin: 0 0 1.5rem 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

p {
    margin: 0 0 1rem 0;
}


// Recommendations styling
.recommendations {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .recommendation {
        position: relative;
        width: 200px;
        height: 100px;
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 10px;
        margin-top: 30px;
        

        .destination-text {
            position: absolute;
            bottom: 10px;
            left: 10px;
            margin: 0;
            font-size: 14px;
            color: black;
        }

        .booking-text {
            position: absolute;
            bottom: 10px;
            right: 10px;
            margin: 0;
            font-size: 14px;
            color: black;
        }
    }
}

// Searchbar styling
.searchbar-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


    .searchbar-container {
        display: flex;
        align-items: center;
        // border: 1px solid #ccc;
        padding: 5px;
        // background-color: white;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

        .searchbar-segment {
            display: flex;
            align-items: center;
            padding: 2px; /* Add padding between segment content and border */
            // border-radius: 15px; /* Apply rounded border to all segments */
            
            .searchbar-start {
                border-radius: 10px 0px 0px 10px;
            }
        
            .searchbar-end {
                border-radius: 0px 10px 10px 0px;
            }

            .searchbar-input {
                height: 42px; /* Adjust the height as needed */
                border: none;
                padding: 5px;
                font-size: 14px;
                font-family: 'Catamaran';
                width: 100%; /* Expand the input to fill the available space */
                // border-radius: 100px;
            }
        }

        
    }

    .searchbar-button {
        padding: 0px 10px;
        background-color: #27649D;
        color: #F4DCDC;
        border: none;
        border-radius: 10px;
        // margin-left: 5px;
        height: 42px;
    }
}



.filter-results {
    display: flex;
    margin-top: 20px;
    font-family: 'Helvetica';


    .filter-search-container {
        display: flex;
        flex-direction: row; /* Arrange the sections in a row */
        flex: 1; /* Allow the container to take up available space */
        justify-content: space-between; /* Add space between the filters and search results */
    }

    // Fliters formatting
    .filters-section {
        width: 200px; /* Adjust width as needed */
        margin-top: auto;
        margin-left: 10%; /* Add space from the left border */
        background-color: #f5f5f5; /* Light grey color */
        border-radius: 15px;
        padding: 20px; /* Add some padding inside the filters section */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: 'Helvetica';
        height: 50vh;

        p {
            font-size: 80%;
            margin: 5%;
            margin-top: 20%;
        }
    }

    // Results formatting
    .search-results-section {
        flex: 1; /* Allow the section to expand and fill the remaining space */
        margin-left: 20px; /* Add space between filters and search results */
        background-color: rgba(224, 224, 224, 0.6);
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        margin-right: 20%;

        p {
            text-align: center;
        }
    }
}


