@font-face {
    font-family: "Fira Sans";
    src: url('/static/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Catamaran";
    src: url('/static/fonts/Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Taviraj";
    src: url('/static/fonts/Taviraj/Taviraj-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Telex";
    src: url('/static/fonts/Telex/Telex-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


