$color-blue: #00d4f0;
$color-off-white: #f5f3f4;
$color-off-white-darker: #E9E7E8;
$color-grey: #a0a0a0;
$color-purple: #f5f3f4;
$color-light-purple: #8b6fb0;
$color-navy: #213c5b;

$max-width: 1080px;
$gutter-mobile: 1rem;
$gutter-tablet: 2rem;
$gutter-desktop: 4rem;

$screen-width-mobile: 479px;
$screen-width-tablet: 768px;
$screen-width-desktop: 1280px;