.c-booking-progress {
    background-color: $color-navy;

    &__progress-bar {
        min-height: 60px;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        &--center {
            justify-content: center;
        }
    }

    &__checkpoint {
        width: fit-content;
    }
}