.c-header {
    background-color: $color-off-white;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: 'Fira Sans';
        font-size: 32px;
    }

    &__navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
    }

    &__navbar-item {
        font-family: 'Telex';
        font-size: 16px;
    }
}
    
