.o-section {
    width: 100%;
    padding: 1rem 0;

    &--full-page {
        min-height: 100vh;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--empty {
        flex: 1;
    }
}