.u-text--sm { font-size: 0.75rem; }
.u-text--sm { font-size: 0.75rem; }
.u-text--md { font-size: 1rem; }
.u-text--lg { font-size: 1.25rem; }
.u-text--xl { font-size: 1.5rem; }

.u-text--upper { text-transform: uppercase; }

.u-font--bold { font-weight: 600; }
.u-font--thin { font-weight: 300; }

.u-font-taviraj { font-family: "Taviraj"; }
.u-font-telex { font-family: "Telex"; }

.u-text-color--white { color: $color-off-white }
.u-text-color--grey { color: $color-grey}